html,
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 14px;
  line-height: 24px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-big {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: $title;
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 30px;
}

a {
  color: $default;
  font-size: 14px;
  line-height: 24px;
  @extend %rubik-400;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    padding-right: 20px;
    color: #979ba0;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      right: 10px;
      bottom: -1px;
      font-size: 18px;
    }
    &:last-child {
      padding: 0;
      &::after {
        display: none;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  .pagination__list {
    display: flex;
  }
  &__item {
    padding: 0 15px;
    &:first-child{
      padding: 0 15px 0 0;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243f4d;
    font-size: 16px;
    border: 2px solid #a3bbc8;
    height: 50px;
    width: 50px;
  }
  &__link--active {
    background-color: #a3bbc8;
    color: #fff;
  }
  &__arrows {
    color: #243f4d;
    font-size: 16px;
    border: 2px solid #a3bbc8;
    height: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
}
