@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 60px 0 45px;
  background-color: #fff;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 40px;
  &__img {
    width: 50px;
    height: 40px;
  }
  &__text {
    font-size: 36px;
    line-height: 58px;
    color: $accent;
    @extend %dmsans-700;
    padding-left: 12px;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-link {
    color: $accent;
    font-size: 15px;
    line-height: 12px;
    @extend %dmsans-700;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
  }
  &__search {
    background-color: #a3bbc842;
    margin-right: 20px;
  }
  &__search-img,
  &__menu-img {
    object-fit: cover;
  }
  &__box {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #f7e5d5;
      height: 40px;
      width: 1px;
      left: -14px;
    }
  }
  &__heart-img,
  &__box-img {
    object-fit: cover;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $bg;
    width: 170px;
    border-radius: 50px;
    margin-right: 20px;
  }
  &__menu {
    background-color: #a3bbc8;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: $accent;
    text-align: center;
    bottom: 26px;
    right: 4px;
    font-size: 12px;
    line-height: 20px;
    @extend %dmsans-700;
  }
}

.top {
  background-color: #edf1f4;
  padding: 40px 0;
  text-align: center;
  &__title {
    font-size: 36px;
    line-height: 50px;
    color: #222933;
    @extend %rubik-500;
  }
}

.footer {
  padding: 70px 0 40px;
  background-color: #fff;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid #dae4e9;
  &__contact {
    max-width: 200px;
    margin-right: 100px;
  }
  &__adress,
  &__phone {
    margin-bottom: 10px;
    display: block;
    line-height: 18px;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 18px;
    line-height: 3;
    margin-bottom: 19px;
    color: $accent;
    @extend %dmsans-700;
  }
  &__items {
    max-width: 170px;
    margin-right: 130px;
  }
  &__list {
    margin-bottom: 10px;
    line-height: 18px;
  }
  &__form {
    max-width: 270px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    background-color: #fcd7b647;
    border: none;
    padding: 12px 70px 12px 15px;
    &::placeholder {
      color: $accent;
      font-size: 12px;
      @extend %dmsans-700;
    }
  }
  &__form-btn {
    color: #fff;
    background-color: #91bfd8ed;
    border: none;
    max-width: 100px;
    padding: 12px 16px;
    margin-left: -4px;
  }
}
.footer-bottom {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  &__items {
    display: flex;
  }
  &__item {
    padding: 0 15px;
    line-height: 14px;
  }
  &__item + .footer-bottom__item {
    border-left: 2px solid $default;
  }
}

.top-slider {
  &__inner {
    background-color: $bg;
  }
  &__item {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    object-fit: contain;
  }
  &__title {
    @extend %rubik-500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 82px;
    color: #243f4d;
    margin-bottom: 30px;
    max-width: 420px;
  }
  &__text {
    color: $accent;
    font-size: 18px;
    line-height: 28px;
    max-width: 365px;
    margin-bottom: 30px;
  }
  &__link {
    display: block;
    width: 200px;
    padding: 20px 0 20px 15px;
    color: #fff;
    background-color: #a3bbc8;
    font-size: 18px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow.svg");
      width: 22px;
      height: 9px;
      right: 24px;
      bottom: 27px;
    }
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  li {
    padding: 0 12px;
    button {
      @extend %rubik-500;
      color: #243f4d;
      font-size: 12px;
      line-height: 8px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.302;
      border: #fff;
      padding: 12px 12px;
      cursor: pointer;
    }
    &.slick-active {
      button {
        opacity: 1;
      }
    }
  }
}
.service {
  &__inner {
    display: flex;
    justify-content: space-around;
    background-color: #fef7f0;
  }
  .service__item + .service__item {
    border-left: 3px solid #e8e4df;
  }
  &__item {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 54px;
      height: 54px;
      background-repeat: no-repeat;
      left: 122px;
      bottom: 74px;
    }
    &:nth-child(1)::before {
      background-image: url("../images/icons/support.svg");
    }
    &:nth-child(2)::before {
      background-image: url("../images/icons/delivery.svg");
    }
    &:nth-child(3)::before {
      background-image: url("../images/icons/pay.svg");
    }
  }

  &__content {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    font-size: 18px;
    line-height: 28px;
    color: #414141;
    @extend %dmsans-700;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: #585858;
    @extend %dmsans-400;
    max-width: 200px;
  }
}
.product {
  &__item {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgb(37 37 37 / 18%);
    max-width: 270px;
    padding-top: 25px;
    cursor: pointer;
  }
  &__item:hover {
    .product__buy {
      opacity: 1;
      position: relative;
      display: flex;
      justify-content: center;
      column-gap: 20px;
      bottom: 200px;
    }
    .product__buy-link {
      display: grid;
      padding: 16px;
      background-color: #fff;
      border-radius: 50%;
      transition: all 0.3s;
    }
    .product__buy-link:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }
  &__item-img {
    margin: 0 auto;
    height: 220px;
    object-fit: contain;
    padding: 0 10px;
  }
  &__item-name {
    text-align: center;
    @extend %rubik-500;
    color: #243f4d;
    font-size: 16px;
    line-height: 28px;
    margin: 50px 0 10px;
  }
  &__item-price {
    text-align: center;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 26px;
    color: #a3bbc8;
  }
  &__buy {
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    bottom: 200px;
  }
  &__buy-link {
    padding: 14px;
  }
}
.products-week {
  padding-top: 70px;
  &__content {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    padding: 80px 0;
  }
}

.products-menu {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list-link {
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %dmsans-700;
  }
  &__list-item + .products-menu__list-item {
    margin-left: 30px;
  }
}

.products-menu__list-link--active {
  color: #000;
}
.products-week__content--active {
  display: grid;
}

.dop-products {
  padding: 100px 0 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  &__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    height: 390px;
    gap: 40px;
  }
  &__item-img {
    margin-top: -219px;
  }
  &__item-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
  }
  &__item-about {
    width: 340px;
    color: #243f4d;
  }
  &__item-title {
    font-size: 26px;
    @extend %dmsans-700;
    margin-bottom: 25px;
  }
  &__item-text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__item-link {
    display: block;
    color: $accent;
    @extend %rubik-500;
    padding: 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5%;
    width: 180px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow-blue.svg");
      width: 22px;
      height: 9px;
      right: 20px;
      top: 25px;
    }
  }
}

.products-new {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 0 120px;
  }
  &__item {
    display: block;
    width: 370px;
    height: 243px;
  }
  &__item-about {
    padding: 35px 0 0 40px;
    max-width: 190px;
  }
  &__item-title {
    color: $title;
    @extend %dmsans-700;
    font-size: 20px;
  }
  &__item-style {
    color: #a3bbc8;
  }
}

.video-popup {
  &__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
}

.articles {
  padding-top: 115px;
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding-top: 20px;
  }
  &__box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: $title;
    @extend %dmsans-700;
    font-size: 18px;
    display: block;
    margin-right: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 11px;
      background-image: url("../images/icons/arrow-right.svg");
      background-repeat: no-repeat;
      right: -25px;
      bottom: 7px;
    }
  }
  &__item {
    width: 370px;
    background-color: #fff;
    display: inline-block;
  }
  &__item-box {
    padding: 0 20px;
    color: #262626;
    position: relative;
    &::before {
      content: "NEWS";
      color: #fff;
      font-size: 14px;
      @extend %dmsans-700;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      position: absolute;
      background-color: #aecdde;
      height: 35px;
      width: 100px;
      top: -53px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60px;
    }
  }
  &__item-text {
    @extend %dmsans-700;
    font-size: 18px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    height: 90px;
  }
  &__item-info {
    margin: 20px 0 25px;
    @extend %rubik-500;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__item-date {
    margin-right: 30px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 16px;
      background-image: url("../images/icons/calendar.svg");
      left: 0;
      bottom: 1px;
    }
  }
  &__item-author {
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 14px;
      background-image: url("../images/icons/user.svg");
      left: 0;
      bottom: 2px;
    }
  }
}

.clients {
  margin-top: -194px;
  padding: 270px 0 90px;
  background-color: #fef7f0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.clients--no-articles {
  margin-top: 0;
  padding: 90px 0;
}

.login {
  padding: 120px 0;
  max-width: 470px;
  margin: 0 auto;
  &__label {
    display: block;
    margin-bottom: 30px;
    color: $accent;
    font-size: 18px;
  }
  &__input {
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid $default;
    background-color: transparent;
  }
  &__btn {
    margin-bottom: 35px;
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #a3bbc8;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    @extend %rubik-500;
    cursor: pointer;
  }
  &__checkbox {
    cursor: pointer;
  }
  &__form-box {
    padding-bottom: 30px;
    border-bottom: 3px solid #f6f6f6;
  }
  &__error {
    color: $accent;
    font-size: 18px;
  }
  &__form-box {
    display: flex;
    justify-content: space-between;
  }
  &__create {
    text-align: center;
    color: $accent;
    font-size: 18px;
  }
  &__create-text {
    display: block;
    margin: 35px 0 25px;
  }
  &__create-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243f4d;
    font-size: 22px;
    letter-spacing: 1.5px;
    width: 100%;
    height: 60px;
    border: 3px solid #a3bbc8;
  }
}

.terms {
  padding-top: 55px;
  color: #243f4d;
  font-size: 16px;
  &__title {
    margin: 60px 0 15px;
    @extend %dmsans-700;
    font-size: 20px;
  }
  &__list {
    list-style: decimal-leading-zero;
    padding-left: 30px;
    margin-bottom: 70px;
  }
  &__item {
    padding-left: 10px;
    & + .terms__item {
      margin-top: 30px;
    }
  }
}

.about {
  padding-top: 120px;
  color: #243f4d;
  &__exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 115px;
  }
  &__exp-inner {
    margin-left: 50px;
  }
  &__exp-years {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    span {
      display: block;
    }
  }
  &__exp-years-num {
    color: #a3bbc8;
    @extend %dmsans-700;
    font-size: 140px;
  }
  &__exp-box {
    margin-left: 30px;
    font-size: 16px;
    span {
      margin-bottom: 5px;
    }
  }
  &__exp-title,
  &__team-title {
    font-size: 32px;
    @extend %dmsans-700;
    margin-bottom: 35px;
  }
  &__exp-text {
    font-size: 16px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e6eaf0;
  }
  &__exp-num {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
  &__exp-item {
    color: $default;
    font-size: 16px;
    padding: 0 25px 0 90px;
    position: relative;
    span {
      display: block;
      color: #243f4d;
      @extend %dmsans-700;
      font-size: 36px;
      margin-bottom: 15px;
    }
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      left: 30px;
    }
    &:nth-child(1)::before {
      background-image: url("../images/icons/projects.svg");
      width: 37px;
      height: 38px;
    }
    &:nth-child(2)::before {
      background-image: url("../images/icons/revenue.svg");
      width: 44px;
      height: 40px;
    }
    &:nth-child(3)::before {
      background-image: url("../images/icons/awards.svg");
      width: 42px;
      height: 41px;
    }
    & + .about__exp-item {
      border-left: 3px solid #e6eaf0;
    }
  }
  &__achieve {
    background-color: $bg;
    padding: 80px 0;
  }
  &__achieve-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__achieve-item {
    padding-top: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 40px;
      background-repeat: no-repeat;
    }
    &:nth-child(1)::before {
      background-image: url("../images/icons/comp.svg");
      width: 74px;
      height: 60px;
    }
    &:nth-child(2)::before {
      background-image: url("../images/icons/car.svg");
      width: 73px;
      height: 52px;
    }
    &:nth-child(3)::before {
      background-image: url("../images/icons/time.svg");
      width: 79px;
      height: 64px;
    }
    &:nth-child(4)::before {
      background-image: url("../images/icons/medal.svg");
      width: 61px;
      height: 64px;
    }
    span {
      display: block;
      text-align: center;
    }
  }
  &__achieve-num {
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 20px;
    position: relative;
  }
  &__achieve-text {
    font-size: 18px;
  }
  &__team {
    padding-top: 120px;
  }
  &__team-inner {
    display: flex;
    justify-content: space-between;
  }
  &__team-text-box {
    margin-right: 100px;
    max-width: 310px;
    width: 100%;
  }
  &__team-text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__team-btn {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.5px;
    background-color: #a3bbc8;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      right: 14px;
      background-repeat: no-repeat;
      background-image: url("../images/icons/arrow.svg");
    }
  }
  &__team-img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 100px;
  }
  &__team-img {
    position: relative;
    z-index: -999;
  }
  &__team-person {
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgb(37 37 37 / 18%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    width: 325px;
    height: 100px;
    z-index: 999;
    span {
      display: block;
    }
  }
  &__team-card {
    padding-left: 15px;
  }
  &__team-name {
    font-size: 22px;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
  &__team-position {
    font-size: 16px;
  }
  &__team-link {
    margin-right: 15px;
  }
}

@import "media";
